<beans:beans xmlns="http://www.springframework.org/schema/security"
	  xmlns:beans="http://www.springframework.org/schema/beans"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.springframework.org/schema/beans
				          http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
				          http://www.springframework.org/schema/security
				          http://www.springframework.org/schema/security/spring-security.xsd">
	
	<beans:bean id="customAuthenticationManager" class="pl.cyfronet.datanet.web.server.security.PortalAuthenticationManager"/>
	<http pattern="/*" security="none"/>
	<global-method-security secured-annotations="enabled"/>
	<authentication-manager/>
</beans:beans>