<beans:beans xmlns="http://www.springframework.org/schema/security"
	  xmlns:beans="http://www.springframework.org/schema/beans"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.springframework.org/schema/beans
				          http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
				          http://www.springframework.org/schema/security
				          http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- This is a semi-dummy configuration of the http element so the filterProxyChain processes the requests
	     and stores the security context holder in the session. The real security is done at the methos level
	     and by the RPC login service. -->
	<http use-expressions="true">
	    <intercept-url pattern="/*" access="permitAll"/>
	    <form-login login-page="/"/>
	    <anonymous username="anonymousUser"/>
	</http>
	<global-method-security secured-annotations="enabled"/>
	<authentication-manager/>
</beans:beans>