<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title th:text="#{error.page.title}"></title>
		<link href="<c:url value="/img/favicon.ico"/>" rel="icon" type="image/x-icon" />
		<link rel="stylesheet" href="<c:url value="/css/error.css"/>" />		
	</head>
	<body>
    	<h1 th:text="#{error.page.message}"></h1>
    	<img th:src="@{/img/datanet-logo-143x40.png}" />
		<h3>${exception.getLocalizedMessage()}</h3>
		<hr/>
		<p th:text="#{error.page.description}"></p>
	</body>
</html>