<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<meta name="gwt:property" content="locale=${locale}"/>
		<meta name="_csrf" content="${_csrf.token}"/>
		<meta name="_csrf_header" content="${_csrf.headerName}"/>
		<meta name="_csrf_parameter_name" content="${_csrf.parameterName}"/>
		<title th:text="#{main.page.title}"></title>
		<link th:href="@{/img/favicon.ico}" rel="icon" type="image/x-icon" />
		<!--[if lt IE 9]>
		<script th:src="@{/js/html5.js}"></script>
		<![endif]-->
		<!--[if IE 7]>
 		<link rel="stylesheet" th:href="@{/ria/css/font-awesome-ie7.css}">
		<![endif]-->
		
		<!-- highlight style (can be replaced with default.css), javascript and initialization -->
		<link rel="stylesheet" th:href="@{/highlight/styles/github.css}" />
		<script type="text/javascript" src="@{/highlight/highlight.pack.js}"></script>
		<script type="text/javascript">hljs.initHighlightingOnLoad();</script>
		
		<!-- GWT module -->
		<script type="text/javascript" src="@{/ria/ria.nocache.js}"></script>
	</head>
	<body>
    	<iframe src="javascript:''" id="__gwt_historyFrame" tabIndex='-1'
    			style="position:absolute;width:0;height:0;border:0">
    	</iframe>
   		<div id="processingError" style="display: none;" th:if="${processingError != null}">
   			${processingError}
   		</div>
	</body>
</html>